<section class="flex flex-col lg:flex-row-reverse items-center justify-center">
  <img src="/profile.jpg" class="rounded-full w-44 h-44 lg:w-60 lg:h-60 lg:ml-12" />
  <div class=" flex flex-col items-center justify-center lg:items-start pt-2 lg:max-w-lg">
    <h1 class="text-center font-bold">Hi, I am Hector, Software Developer</h1>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <button class="bg-primary text-white px-5 py-2 mt-2 font-semibold">Download Curriculum</button>
  </div>
</section>
