---
import Hero from '../components/sections/main/Hero.astro';
import Works from '../components/sections/main/Works.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="My Portfolio">
	<main class="flex flex-col items-center">
		<Hero />
		<Works />
	</main>
</Layout>


