<footer class="flex flex-col items-center justify-center fixed bottom-0 w-full">
  <div class="flex gap-2 mb-2">
    <a class="w-10 h-10 flex items-center justify-center" href="https://github.com/hmmatus"><img src="./icons/github.svg" /></a>
    <a class="w-10 h-10 flex items-center justify-center" href="https://www.instagram.com/hm_matus/"><img src="./icons/insta.svg" /></a>
    <a class="w-10 h-10 flex items-center justify-center" href="https://www.linkedin.com/in/hmmatus/"><img src="./icons/linkedin.svg" /></a>
  </div>
  <p>Copyright ©2024 All rights reserved </p>
</footer>